.grid-area-gallery {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'photo-1 photo-1' 'photo-2 photo-3';
}
.grid-area-gallery .gallery-photo-1 {
  grid-area: photo-1;
  /* aspect-ratio: 342/159; */
}
.grid-area-gallery .gallery-photo-2 {
  grid-area: photo-2;
}
.grid-area-gallery .gallery-photo-3 {
  grid-area: photo-3;
}
.grid-area-gallery .gallery-photo-4 {
  grid-area: photo-4;
}

@media (min-width: 414px) {
  .grid-area-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'photo-1 photo-2 photo-3';
  }
}
@media (min-width: 768px) {
  .grid-area-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'photo-1 photo-1 photo-2 photo-4' 'photo-1 photo-1 photo-3 photo-4';
  }
}
.grid-cart {
  grid-template-columns: 120px 1fr;
}
@media (min-width: 640px) {
  .grid-cart {
    grid-template-columns: 120px 1fr 130px 130px;
  }
}

.grid-newsletter-form {
  grid-template-columns: 300px max-content;
}
